@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

@font-face {
  font-family: 'Brushed'; /* Replace with a suitable font name */
  src: url('fonts/Brushed.ttf') format('truetype');
  letter-spacing: 2px;
  /* Adjust the path to your TTF file */
}

@font-face {
  font-family: 'D Day Stencil'; /* Replace with a suitable font name */
  src: url('fonts/D Day Stencil.ttf') format('truetype');
  /* Adjust the path to your TTF file */
}

body{
	font-family: 'Caveat', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #ececee;
	background-color: #f2f2f7;
	/* overflow: hidden; */
  /* background-image: url('images/nick-jones-uRuLv7yBnD8-unsplash.jpg'); */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2000px;
  width: 100%;
  background-attachment: scroll;
  overflow: scroll;
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: 'Irish Grover';
  src: url('path/to/irish-grover.ttf') format('truetype');
}

.header {
  text-align: center;

}

.section-center{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
}
h1{
  font-family: 'vtks distress', sans-serif;
  font-weight: 520;
  font-size: 10vw;
  line-height: 1;
  color: rgb(4, 4, 5);
  text-align: center;
  opacity: 0.9;
  margin-bottom: 0%;
  margin-top: 25px;
  /* -webkit-text-stroke: 2px #131414;
  text-stroke: 2px #151515;
  -webkit-text-fill-color: solid;
  text-fill-color: solid;
  color: solid;
  position: top center; */
}

h2 {
  color: rgb(53,55,70);
  text-align: center;
}

h3 {
  color: rgb(53,55,70);
  margin-top: 5px;
  margin-bottom: 20px;
}

ul {
  text-align: center;
  list-style: none;
}

section {
  background-color: transparent;
  /* opacity: 0.4; */
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 18px;
  margin-bottom: 30px;

}

.subsection {
 color: black;
}

p {
  color: rgb(51,51,51);
}




/* .logo {
	position: absolute;
	top: 60px;
	left: 50px;
	display: block;
	z-index: 11;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
} */



@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label{
    right: 55px;
  }
  .logo {
    left: 30px;
  }
  .nav{
    right: 30px;
  }
  h1{
    font-size: 9vw;
    -webkit-text-stroke: 2px transparent;
    text-stroke: 2px transparent;
    -webkit-text-fill-color: #3eedf3;
    text-fill-color: #fa06d1;
    color: #b523f4;
  }
  .nav ul li a{
    font-size: 8vh;
  }
}

.social-links {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: transparent;
  overflow: hidden;
}

.social-links ul {
  position: relative;
  display: flex;
  align-items: center; /* Add this line */
}

.social-links li {
  position: relative;
  list-style: none;
  margin: 0 10px;
  cursor: pointer;
}

.social-links li a {
  text-decoration: none;
  display: flex; /* Add this line */
  align-items: center; /* Add this line */
}

.social-links li a .fa-brands {
  font-size: 4em;
  color: #30D5C8;
}

.social-links li a .fa-brands:hover {
  animation: glowing 1.5s ease-in-out infinite; /* Add this line for glowing effect */
}

@keyframes glowing {
  0% {
    color: #222;
    text-shadow: none;
  }
  50% {
    color: #fff;
    text-shadow: 0 0 8px #fff;
  }
  100% {
    color: #222;
    text-shadow: none;
  }
}

/* .collection {
  list-style: none;
  padding: 0;
  margin: 0;

} */

.collection {
  display: flex;
  justify-content: center;
}

.collection li {
  margin-right: 10px;
}

:root{
  /* color type A */
  --line_color : #555555 ;
  --back_color : #30D5C8  ;

  /* color type B */
  /* --line_color : #1b1919 ;
  --back_color : #E9ECFF  ; */

  /* color type C */
  /* --line_color : #00135C ;
  --back_color : #DEFFFA  ; */
}

.button{
  position : relative ;
  z-index : 0 ;
  width : 240px ;
  height : 56px ;
  text-decoration : none ;
  font-size : 14px ;
  font-weight : bold ;
  color : var(--line_color) ;
  letter-spacing : 2px ;
  transition : all .3s ease ;
}
.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none; /* Remove underline when not hovered */
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
  content : '' ;
  position : absolute ;
  height : 3px ;
  border-radius : 2px ;
  background : var(--line_color) ;
  transition : all .5s ease ;
  text-decoration: none ;
}
.button::before{
  top : 0 ;
  left : 54px ;
  width : calc( 100% - 56px * 2 - 16px ) ;
}
.button::after{
  top : 0 ;
  right : 54px ;
  width : 8px ;
}
.button__text::before{
  bottom : 0 ;
  right : 54px ;
  width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
  bottom : 0 ;
  left : 54px ;
  width : 8px ;
}
.button__line{
  position : absolute ;
  top : 0 ;
  width : 56px ;
  height : 100% ;
  overflow : hidden ;
}
.button__line::before{
  content : '' ;
  position : absolute ;
  top : 0 ;
  width : 150% ;
  height : 100% ;
  box-sizing : border-box ;
  border-radius : 300px ;
  border : solid 3px var(--line_color) ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
  left : 0 ;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
  right : 0 ;
}
.button:hover {
  letter-spacing: 8px;
  color: var(--line_color);
  text-decoration: none ;
}
.button:hover::before,
.button:hover .button__text::before{
  width : 8px ;
}
.button:hover::after,
.button:hover .button__text::after{
  width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__drow1,
.button__drow2{
  position : absolute ;
  z-index : -1 ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
}
.button__drow1{
  top : -16px ;
  left : 40px ;
  width : 32px ;
  height : 0;
  transform : rotate( 30deg ) ;
}
.button__drow2{
  top : 44px ;
  left : 77px ;
  width : 32px ;
  height : 0 ;
  transform : rotate(-127deg ) ;
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after{
  content : '' ;
  position : absolute ;
}
.button__drow1::before{
  bottom : 0 ;
  left : 0 ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( -60deg ) ;
}
.button__drow1::after{
  top : -10px ;
  left : 45px ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( 69deg ) ;
}
.button__drow2::before{
  bottom : 0 ;
  left : 0 ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( -146deg ) ;
}
.button__drow2::after{
  bottom : 26px ;
  left : -40px ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( -262deg ) ;
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after{
  background : var( --back_color ) ;
}
.button:hover .button__drow1{
  animation : drow1 ease-in .06s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow1::before{
  animation : drow2 linear .08s .06s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow1::after{
  animation : drow3 linear .03s .14s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow2{
  animation : drow4 linear .06s .2s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow2::before{
  animation : drow3 linear .03s .26s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow2::after{
  animation : drow5 linear .06s .32s ;
  animation-fill-mode : forwards ;
}
@keyframes drow1{
  0%   { height : 0 ; }
  100% { height : 100px ; }
}
@keyframes drow2{
  0%   { width : 0 ; opacity : 0 ;}
  10%  { opacity : 0 ;}
  11%  { opacity : 1 ;}
  100% { width : 120px ; }
}
@keyframes drow3{
  0%   { width : 0 ; }
  100% { width : 80px ; }
}
@keyframes drow4{
  0%   { height : 0 ; }
  100% { height : 120px ; }
}
@keyframes drow5{
  0%   { width : 0 ; }
  100% { width : 124px ; }
}


/* .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 10;
  display: none;
}

.popup h3 {
  margin-top: 0;
}

.popup p {
  margin-bottom: 20px;
  color: white;
}

.popup button {
  background-color: #fff;
  color: #353746;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
} */

Footer {
background-color: rgb(53,55,70);
}

/* .slideshow {
  position: relative;
  width: 100%;
  height: 400px; /* Set the desired height of the slideshow */
  overflow: hidden;
}

/* .slideshow .header-overlap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Ensure the header is displayed above the images */
  text-align: center;
  color: white;
} */

/* .slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Preserve aspect ratio and fill the container */
  opacity: 0;
  transition: opacity 1s ease;
} */

/* .slideshow img:first-child {
  opacity: 1;
} */ */

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 1;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

/* Carousel styles */
.carousel {
  max-height: 600px; /* Set the desired height for the carousel */
  max-width: 900px;
  overflow: hidden; /* Ensure the images stay within the specified height */
  position: relative;
  margin: 0 auto;
  border-radius: 30px;

}

#carouselExampleIndicators {
  margin-top: 10px; /* Adjust the top margin to create space */
  /* Add any other styles you want for the carousel */
}

/* .carousel-inner {
  max-width: 900px; /* Set the width to 100% to ensure the image fits the whole page */
  /* height: 600px; */
} */

.carousel-inner img {
  object-fit: contain; /* Maintain aspect ratio and cover the entire container */
  height: 100%; /* Set the height of the image to 100% to fill the carousel container */
  width: 100%; /* Set the width of the image to 100% to fill the carousel container */
  object-position: center bottom;
}
/* Other existing styles */

.carousel-caption {
  position: absolute;
  top: 20px; /* Adjust this value to set the distance from the top */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* Set a higher z-index to ensure the captions stay above the carousel */
  text-align: center;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.5); Set a background color for the captions */
  padding: 10px;
}


/* Style for the custom logo */
.custom-logo {
  color: rgb(53,55,70);
  position: absolute;
  height: 50px;
  width: 250px;
  top: 20px; /* Adjust the top position as needed */
  left: 280px; /* Adjust the left position as needed */
  z-index: 2; /* Position the logo above the carousel */
  /* margin-bottom: 120px; */
}

.custom-h3 {
  position: absolute;
  top: 20px; /* Adjust the top position to your preference */
  right: 10px; /* Adjust the right position to your preference */
  font-family: "D Day Stencil", sans-serif;
  font-size: 80px; /* Adjust the font size as needed */
  /* font-weight: bold; */
  color: rgb(255, 53, 245);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  z-index: 2; /* Position the h3 header above the carousel */
}


/* Style for the carousel */
 .carousel {
  position: relative;
  z-index: 0; /* Set a lower z-index for the carousel to keep it below the logo */
}

.banner-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 250px;
  overflow: hidden; /* Ensure images don't overflow */

  .banner-img {
    width: calc(100vw / 4);
    height: 100%;
    object-fit: cover;
    border-radius: 0px; /* Add rounded corners to the images */
  }
}

.description {
  font-weight: bold;
  /* Add any other styles you want for the description */
}

.benefits {
  /* Add any styles you want for the benefits list */
}




/* Add styles for the featured image in the first blog post */
.featured-image {
  width: 400px; /* Adjust the size as per your requirement */
  height: auto; /* This will maintain the aspect ratio */
  display: block; /* To remove any spacing around the image */
  margin: 0 auto; /* To center the image horizontally */
  border-radius: 20px;
}

body.blog-page {
  /* background-image: url("images/patrick-ryan-3kUIaB2EPp8-unsplash.jpg"); */
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.blog-post-container {
  margin-bottom: 30px;
  max-width: 800px;
  margin-left: 200px;
  padding: 60px;
}

.page-container {
  max-width: 1200px; /* Set a maximum width for the page container */

  margin: 0 auto; /* Center the container horizontally on the page */
  padding: 60px; /* Add some spacing around the container */
  /* Add other styling for the page container as needed */
}

.navbar-nav {
  background-color: #fff; /* Replace "your-desired-color" with your preferred background color */
  margin-top: 50px ;
  margin-bottom: 10px ;
  margin-right: 90px;
}

/* Custom styles for the menu items */
.navbar-nav .nav-link {
  color: #080909 !important;
  font-size: 2em;
  text-decoration: none; /* Add this line to remove underline */
}

/* Add this style for link hover effect */
.navbar-nav .nav-link:hover {
  color: #30D5C8 !important;
}

.shaper-image {
  width: 800px; /* Adjust the size as per your requirement */
  height: auto; /* This will maintain the aspect ratio */
  display: block; /* To remove any spacing around the image */
  margin: 0 auto;
  border-radius: 20px;
}
#carouselExampleIndicators {
  margin-top: 20px; /* Adjust the value as needed to create space for the logo */
  /* Add any other styles you want for the carousel */
}

/* iframe {
  background-color: #fff;
  margin-top: 120px;
  margin-bottom: 30px;
  margin-right: 90px;
}

.iframe-nav-link {
  color: #080909 !important;
  font-size: 2em;
  text-decoration: none;
}

.iframe-nav-link:hover {
  color: #30D5C8 !important;
} */
.surfboardlogo {
  display: flex;
  justify-content: space-around; /* Distributes space around the image */
  align-items: center; /* Centers vertically */
  width: 900px;
  max-width: 100%; /* Ensure the image doesn't exceed the viewport width */
  height: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: 2px solid #333;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
