@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #ececee;
	background-color: #f2f2f7;
	/* overflow: hidden; */
  /* background-image: url('images/nick-jones-uRuLv7yBnD8-unsplash.jpg'); */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2000px;
  width: 100%;
  background-attachment: scroll;
  overflow: scroll;
  margin: 0;
  padding: 0;
}

/* @font-face {
  font-family: 'vtks distress';
  src: url('fonts/vtks distress.ttf') format('truetype'); */

@font-face {
  font-family: 'Irish Grover';
  src: url('path/to/irish-grover.ttf') format('truetype');
}

.header {
  text-align: center;

}

.section-center{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
}
h1{
  font-family: 'vtks distress', sans-serif;
  font-weight: 520;
  font-size: 10vw;
  line-height: 1;
  color: rgb(53,55,70);
  text-align: center;
  opacity: 0.9;
  margin-bottom: 0%;
  margin-top: 25px;
  /* -webkit-text-stroke: 2px #131414;
  text-stroke: 2px #151515;
  -webkit-text-fill-color: solid;
  text-fill-color: solid;
  color: solid;
  position: top center; */
}

h2 {
  color: rgb(53,55,70);
  text-align: center;
}

h3 {
  color: rgb(53,55,70);
  margin-top: 5px;
  margin-bottom: 20px;
}

ul {
  text-align: center;
  list-style: none;
}

section {
  background-color: transparent;
  /* opacity: 0.4; */
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 18px;
  margin-bottom: 30px;
  /* border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: 5px solid #f9fdfe; */
}

.subsection {
 color: black;
}

p {
  color: rgb(51,51,51);
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease,
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease,
              right 100ms 1750ms ease,
              margin-top 100ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease,
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,
              margin-top 100ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav{
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background-color: #353746;
  /* background-image: url('images/andrey-haimin-4KgX7k3qjE0-unsplash.jpg') ; */
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav ul li:nth-child(2){
  transition-delay: 150ms;
}
.nav ul li:nth-child(3){
  transition-delay: 100ms;
}
.nav ul li:nth-child(4){
  transition-delay: 50ms;
}
.nav ul li a{
  font-family: 'Montserrat', sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav ul li a:hover{
  text-decoration: none;
  color: #f4fc64;
}
.nav ul li a:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #353746;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav ul li a:hover:after{
  width: 100%;
}


.menu-icon:checked ~ .nav  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4){
  transition-delay: 1640ms;
}



.logo {
	position: absolute;
	top: 60px;
	left: 50px;
	display: block;
	z-index: 11;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
}



@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label{
    right: 55px;
  }
  .logo {
    left: 30px;
  }
  .nav{
    right: 30px;
  }
  h1{
    font-size: 9vw;
    -webkit-text-stroke: 2px transparent;
    text-stroke: 2px transparent;
    -webkit-text-fill-color: #3eedf3;
    text-fill-color: #fa06d1;
    color: #b523f4;
  }
  .nav ul li a{
    font-size: 8vh;
  }
}

.social-links {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background: transparent;
  overflow: hidden;
}

.social-links ul {
  position: relative;
  display: flex;
  align-items: center; /* Add this line */
}

.social-links li {
  position: relative;
  list-style: none;
  margin: 0 10px;
  cursor: pointer;
}

.social-links li a {
  text-decoration: none;
  display: flex; /* Add this line */
  align-items: center; /* Add this line */
}

.social-links li a .fa-brands {
  font-size: 6em;
  color: #30D5C8;
}

.social-links li a .fa-brands:hover {
  animation: glowing 1.5s ease-in-out infinite; /* Add this line for glowing effect */
}

@keyframes glowing {
  0% {
    color: #222;
    text-shadow: none;
  }
  50% {
    color: #fff;
    text-shadow: 0 0 8px #fff;
  }
  100% {
    color: #222;
    text-shadow: none;
  }
}

/* .collection {
  list-style: none;
  padding: 0;
  margin: 0;

} */

.collection {
  display: flex;
  justify-content: center;
}

.collection li {
  margin-right: 10px;
}

:root{
  /* color type A */
  --line_color : #555555 ;
  --back_color : #30D5C8  ;

  /* color type B */
  /* --line_color : #1b1919 ;
  --back_color : #E9ECFF  ; */

  /* color type C */
  /* --line_color : #00135C ;
  --back_color : #DEFFFA  ; */
}

.button{
  position : relative ;
  z-index : 0 ;
  width : 240px ;
  height : 56px ;
  text-decoration : none ;
  font-size : 14px ;
  font-weight : bold ;
  color : var(--line_color) ;
  letter-spacing : 2px ;
  transition : all .3s ease ;
}
.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none; /* Remove underline when not hovered */
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
  content : '' ;
  position : absolute ;
  height : 3px ;
  border-radius : 2px ;
  background : var(--line_color) ;
  transition : all .5s ease ;
  text-decoration: none ;
}
.button::before{
  top : 0 ;
  left : 54px ;
  width : calc( 100% - 56px * 2 - 16px ) ;
}
.button::after{
  top : 0 ;
  right : 54px ;
  width : 8px ;
}
.button__text::before{
  bottom : 0 ;
  right : 54px ;
  width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
  bottom : 0 ;
  left : 54px ;
  width : 8px ;
}
.button__line{
  position : absolute ;
  top : 0 ;
  width : 56px ;
  height : 100% ;
  overflow : hidden ;
}
.button__line::before{
  content : '' ;
  position : absolute ;
  top : 0 ;
  width : 150% ;
  height : 100% ;
  box-sizing : border-box ;
  border-radius : 300px ;
  border : solid 3px var(--line_color) ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
  left : 0 ;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
  right : 0 ;
}
.button:hover {
  letter-spacing: 8px;
  color: var(--line_color);
  text-decoration: none ;
}
.button:hover::before,
.button:hover .button__text::before{
  width : 8px ;
}
.button:hover::after,
.button:hover .button__text::after{
  width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__drow1,
.button__drow2{
  position : absolute ;
  z-index : -1 ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
}
.button__drow1{
  top : -16px ;
  left : 40px ;
  width : 32px ;
  height : 0;
  transform : rotate( 30deg ) ;
}
.button__drow2{
  top : 44px ;
  left : 77px ;
  width : 32px ;
  height : 0 ;
  transform : rotate(-127deg ) ;
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after{
  content : '' ;
  position : absolute ;
}
.button__drow1::before{
  bottom : 0 ;
  left : 0 ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( -60deg ) ;
}
.button__drow1::after{
  top : -10px ;
  left : 45px ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( 69deg ) ;
}
.button__drow2::before{
  bottom : 0 ;
  left : 0 ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( -146deg ) ;
}
.button__drow2::after{
  bottom : 26px ;
  left : -40px ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( -262deg ) ;
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after{
  background : var( --back_color ) ;
}
.button:hover .button__drow1{
  animation : drow1 ease-in .06s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow1::before{
  animation : drow2 linear .08s .06s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow1::after{
  animation : drow3 linear .03s .14s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow2{
  animation : drow4 linear .06s .2s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow2::before{
  animation : drow3 linear .03s .26s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow2::after{
  animation : drow5 linear .06s .32s ;
  animation-fill-mode : forwards ;
}
@keyframes drow1{
  0%   { height : 0 ; }
  100% { height : 100px ; }
}
@keyframes drow2{
  0%   { width : 0 ; opacity : 0 ;}
  10%  { opacity : 0 ;}
  11%  { opacity : 1 ;}
  100% { width : 120px ; }
}
@keyframes drow3{
  0%   { width : 0 ; }
  100% { width : 80px ; }
}
@keyframes drow4{
  0%   { height : 0 ; }
  100% { height : 120px ; }
}
@keyframes drow5{
  0%   { width : 0 ; }
  100% { width : 124px ; }
}






/* 本体には関係ないスタイル */
/* .container{
  width : 100% ;
  height : 300px ;
  display : flex ;
  flex-direction : column ;
  justify-content : center ;
  align-items : center ;
} */

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 10;
  display: none;
}

.popup h3 {
  margin-top: 0;
}

.popup p {
  margin-bottom: 20px;
  color: white;
}

.popup button {
  background-color: #fff;
  color: #353746;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

Footer {
background-color: rgb(53,55,70);
}
/*
.mindful {
  background-color: rgb(51,51,51);
  color: #ececee;
}

.naturally {
  background-color: rgb(51,51,51);
}
 .collection {
  background-color: rgb(51,51,51);
 } */

 /* Slideshow styles */
.slideshow {
  position: relative;
  width: 100%;
  height: 400px; /* Set the desired height of the slideshow */
  overflow: hidden;
}

.slideshow .header-overlap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Ensure the header is displayed above the images */
  text-align: center;
  color: white;
}

.slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Preserve aspect ratio and fill the container */
  opacity: 0;
  transition: opacity 1s ease;
}

.slideshow img:first-child {
  opacity: 1;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 1;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

/* Carousel styles */
.carousel {
  max-height: 750px; /* Set the desired height for the carousel */
  overflow: hidden; /* Ensure the images stay within the specified height */
  position: relative;
}

.carousel-inner {
  max-width: 100%; /* Set the width to 100% to ensure the image fits the whole page */
}

.carousel-inner img {
  object-fit: contain; /* Maintain aspect ratio and cover the entire container */
  height: 100%; /* Set the height of the image to 100% to fill the carousel container */
  width: 100%; /* Set the width of the image to 100% to fill the carousel container */
  object-position: center bottom;
}
/* Other existing styles */

.carousel-caption {
  position: fixed;
  top: 20px; /* Adjust this value to set the distance from the top */
  left: 50%;
  transform: translateX(-50%);
  z-index: 999; /* Set a higher z-index to ensure the captions stay above the carousel */
  text-align: center;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.5); Set a background color for the captions */
  padding: 10px;
}

/* Style for the custom logo */
.custom-logo {
  color: rgb(53,55,70);
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  z-index: 2; /* Position the logo above the carousel */
}
.custom-h3 {
  position: absolute;
  top: 160px; /* Adjust the top position as needed */
  left: 440px;
  right: -5px; /* Adjust the right position as needed */
  font-family: "Irish Grover", sans-serif;
  font-size: 40px; /* Adjust the font size as needed */
  color: black;
  z-index: 2; /* Position the h3 header above the carousel */
}

/* Style for the carousel */
.carousel {
  position: relative;
  z-index: 1; /* Set a lower z-index for the carousel to keep it below the logo */
}

.banner-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 250px;
  overflow: hidden; /* Ensure images don't overflow */

  .banner-img {
    width: calc(100vw / 4);
    height: 100%;
    object-fit: cover;
    border-radius: 0px; /* Add rounded corners to the images */
  }
}

.description {
  font-weight: bold;
  /* Add any other styles you want for the description */
}

.benefits {
  /* Add any styles you want for the benefits list */
}

/* CSS for the gradient overlay */
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
}

/* Add styles for the featured image in the first blog post */
.featured-image {
  width: 400px; /* Adjust the size as per your requirement */
  height: auto; /* This will maintain the aspect ratio */
  display: block; /* To remove any spacing around the image */
  margin: 0 auto; /* To center the image horizontally */
}

body.blog-page {
  /* background-image: url("images/patrick-ryan-3kUIaB2EPp8-unsplash.jpg"); */
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.blog-post-container {
  margin-bottom: 30px;
  max-width: 800px;
  padding: 60px;
}

page-container {
  max-width: 1200px; /* Set a maximum width for the page container */
  margin: 0 auto; /* Center the container horizontally on the page */
  padding: 60px; /* Add some spacing around the container */
  /* Add other styling for the page container as needed */
}
